#title {
    text-align: center;
}

.hiddenFormElement {
    type:       hidden;
}

.theFrame {
    display:    none;
    height:     0px;
    width:      0px;
    frameborder:0px;
}
#outputDiv {
    float: left;
    padding-left: 5%;
}
.output {
    float: left;
    padding-left: 5px;
}
#controlPanel {
    float: left;
}
#debugbox {
    max-width: 5cm;
}
.title {
    font-weight: bold;
    font-size: 30px;
}

/*larger screens*/
@media screen and (min-width: 10cm) {
    .fb-login-button {
        float: right;
    }
}