.fb-login-button {
    float: right;
    padding-top: 30px;
    padding-right: 15px;
}
#titlediv {
    float: right;
    padding-top: 15px;
    padding-right: 25%;
}
.format {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5%;
}